</p>
<h1>Perfil:
  <%= @user.full_name %>
</h1>
<ul>
  <li>Localização:
    <%= @user.location %>
  </li>
  <li>Bio:
    <%= @user.bio %>
  </li>
</ul>
<%= link_to 'Editar Perfil', edit_user_path(@user) %>
