<%= form_for(@room) do |f| %>
<% if @room.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@room.errors.count, "error") %>
    prohibited this room from being saved:</h2>

  <ul>
    <% @room.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= f.label :title %><br>
  <%= f.text_field :title %>
</div>
<div class="field">
  <%= f.label :location %><br>
  <%= f.text_field :location %>
</div>
<div class="field">
  <%= f.label :description %><br>
  <%= f.text_area :description %>
</div>

<p>
<%= f.label :picture %>
<%= f.file_field :picture %>
<%= error_tag @room, :picture %>
</p>


<div class="actions"><%= f.submit %>
</div>
<% end %>
