<section class="review">
  <% if room.show_form? %>
  <%= render partial: 'review_form', locals: {room: room} %>
  <% else %>
  <% room.stars.times do %>
  <span class="star filled_star"></span>
  <% end %>
  <% (room.review_points.max - room.stars).times do %>
  <span class="star empty_star"></span>
  <% end %>
  <%= t '.stats', count: room.total_reviews %>
  <% end %>
</section>
